fastapi==0.111.0
uvicorn==0.29.0
pydantic==2.7.2

# ML Core
xgboost==2.0.3
scikit-learn==1.4.2
imbalanced-learn==0.12.3
scipy==1.13.0

# Data
pandas==2.2.2
numpy==1.26.4

# Explainability
shap==0.45.1

# Serialization
joblib==1.4.2

# Database
psycopg2-binary==2.9.9
